body {    
}
#login-google {
    background-color: #dc0f0f;
    color: white
}
#login-facebook {
    color: white;
    background-color: navy;
}
#login-facebook:hover {
    background-color: #030356;
}
.header-form {
    padding-right: 2em;
    padding-bottom: 1em;
}
#login-google:hover {
    background-color: #7d0000;
}
